<app-staffNav></app-staffNav>

<div class="container">

    <!-- bookingListItem table -->
    <div class="table-wrapper left">
        <h2>Bookings</h2>
        <input style="width: auto; margin: 5px;" matInput [(ngModel)]="filterValue" (ngModelChange)="searchFilter()"
            placeholder="Søg" />
        <div class="table-border">
            <table mat-table [dataSource]="dataSourceList" class="mat-elevation-z8">

                <!-- Fullname Column -->
                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef> Fulde navn </th>
                    <td mat-cell *matCellDef="let BookingListItem"> {{BookingListItem.customer.fullName}} </td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let BookingListItem"> {{BookingListItem.customer.email}} </td>
                </ng-container>

                <!-- phoneumber Column -->
                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef> Telefon nummer </th>
                    <td mat-cell *matCellDef="let BookingListItem"> {{BookingListItem.customer.phoneNumber}} </td>
                </ng-container>

                <!-- roomCount Column -->
                <ng-container matColumnDef="roomCount">
                    <th mat-header-cell *matHeaderCellDef> Antal værelser </th>
                    <td mat-cell *matCellDef="let BookingListItem"> {{BookingListItem.roomCount}} </td>
                </ng-container>

                <!-- startDate Column -->
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef> Start dato </th>
                    <td mat-cell *matCellDef="let BookingListItem">
                        {{ BookingListItem.startDate | date:'dd.MM.yyyy' }}
                    </td>
                </ng-container>

                <!-- endDate Column -->
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef> slut dato </th>
                    <td mat-cell *matCellDef="let BookingListItem">
                        {{ BookingListItem.endDate | date:'dd.MM.yyyy' }}
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="buttons">
                    <th style="border-right: none;" mat-header-cell *matHeaderCellDef></th>
                    <td style="border-right: none;" mat-cell *matCellDef="let BookingListItem">
                        <button class="edit" (click)="OpenEditRow(BookingListItem.id)">Rediger</button>
                        <button class="delete" (click)="DeletebookingRow(BookingListItem.id)">Slet</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsList"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsList;"></tr>
            </table>
            <p *ngIf="fetchFailed1" class="fetch-error">Hentning fejlede</p>
            <mat-paginator #paginatorList [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

    <!-- Edit form -->
    <div class="edit-booking" *ngIf="editopen">
        <form [formGroup]="bookingDetailsForm" (ngSubmit)="onSubmit()" class="edit-booking-inner ">
            <div class="div1">
                <label>Fulde navn</label>
                <div class="form-group">
                    <input type="text" formControlName="fullName" placeholder="Indtast fuldt navn" autocomplete="off" />
                    <div class="error"
                        *ngIf="bookingDetailsForm.get('fullName')?.invalid && bookingDetailsForm.get('fullName')?.touched">
                        Fuldt navn er påkrævet
                    </div>
                </div>

                <label>Email</label>
                <div class="form-group">
                    <input type="text" formControlName="email" placeholder="Indtast email" autocomplete="off" />
                    <div class="error"
                        *ngIf="bookingDetailsForm.get('email')?.invalid && bookingDetailsForm.get('email')?.touched">
                        Email er påkrævet
                    </div>
                </div>

                <label>Telefon nummer</label>
                <div class="form-group">
                    <input type="text" formControlName="phoneNumber" placeholder="Indtast telefon nummer"
                        autocomplete="off" />
                    <div class="error"
                        *ngIf="bookingDetailsForm.get('phoneNumber')?.invalid && bookingDetailsForm.get('phoneNumber')?.touched">
                        Telefon nummer er påkrævet
                    </div>
                </div>

                <label>Start dato</label>
                <div class="form-group">
                    <input type="date" formControlName="startDate" [min]="today"
                        (change)="OnDateChanged(bookingDetailsForm.get('startDate')?.value, bookingDetailsForm.get('endDate')?.value)">
                    <div class="error"
                        *ngIf="bookingDetailsForm.get('startDate')?.invalid && bookingDetailsForm.get('startDate')?.touched">
                        start dato er påkrævet
                    </div>
                </div>

                <label>Slut dato</label>
                <div class="form-group">
                    <input type="date" formControlName="endDate" [min]="endDateMin"
                        (change)="OnDateChanged(bookingDetailsForm.get('startDate')?.value, bookingDetailsForm.get('endDate')?.value)">
                    <div class="error"
                        *ngIf="bookingDetailsForm.get('endDate')?.invalid && bookingDetailsForm.get('endDate')?.touched">
                        slut dato er påkrævet
                    </div>
                </div>

                <label>Antal personer</label>
                <div class="form-group">
                    <input type="number" formControlName="personCount" autocomplete="off" />
                    <div class="error"
                        *ngIf="bookingDetailsForm.get('personCount')?.invalid && bookingDetailsForm.get('personCount')?.touched">
                        Antal personer er påkrævet
                    </div>
                </div>

                <div>
                    <p>Samlet pris: {{totalPrice}} kr</p>
                </div>

                <label>Ønsker og bemærkninger</label>
                <div class="form-group">
                    <textarea rows="10" type="text" formControlName="comment"></textarea>
                    <div class="error"
                        *ngIf="bookingDetailsForm.get('comment')?.invalid && bookingDetailsForm.get('comment')?.touched">
                        slut dato er påkrævet
                    </div>
                </div>
            </div>

            <div class="div2">
                <button class="cleaning" type="button" popovertarget="modal2"
                    (click)="GetCleaningSchedule(bookingid)">Opret rengøring</button>

                <!-- ngClass works like a switch and checks the condtions set and sets class-->
                <button type="button" (click)="CheckInOut(bookingid)" [ngClass]="{
                'checkIn': checkStatus === 'NotCheckedIn',
                'checkOut': checkStatus === 'CheckedIn'
                }" [disabled]="checkStatus === 'CheckedOut'" [hidden]="checkStatus === 'CheckedOut'">
                    {{ statusText }}
                </button>
                <button class="update" type="submit">Gem</button>
            </div>
        </form>

        <!-- Table with booked rooms -->
        <div class="table-wrapper" style="max-width: 100%;">
            <h2>Booked værelser</h2>
            <div class="table-border">
                <table mat-table [dataSource]="dataSourceRooms" class="mat-elevation-z8">

                    <!-- number Column -->
                    <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef> nummer </th>
                        <td mat-cell *matCellDef="let BookingDetailsRoom"> {{BookingDetailsRoom.number}} </td>
                    </ng-container>

                    <!-- Floor Column -->
                    <ng-container matColumnDef="floor">
                        <th mat-header-cell *matHeaderCellDef> Etage </th>
                        <td mat-cell *matCellDef="let BookingDetailsRoom"> {{BookingDetailsRoom.floor}} </td>
                    </ng-container>

                    <!-- roomType Column -->
                    <ng-container matColumnDef="roomType">
                        <th mat-header-cell *matHeaderCellDef> Værelses type </th>
                        <td mat-cell *matCellDef="let BookingDetailsRoom"> {{BookingDetailsRoom.roomTypeName}}
                        </td>
                    </ng-container>

                    <!-- roomCount Column -->
                    <ng-container matColumnDef="bedAmount">
                        <th mat-header-cell *matHeaderCellDef> Antal senge </th>
                        <td mat-cell *matCellDef="let BookingDetailsRoom"> {{BookingDetailsRoom.bedAmount}} </td>
                    </ng-container>


                    <!-- Actions Column -->
                    <ng-container matColumnDef="buttons">
                        <th style="border-right: none;" mat-header-cell *matHeaderCellDef>
                            <button type="button" class="create" (click)="OpenAddRoomDialog()"
                                [hidden]="checkStatus === 'CheckedOut' || checkStatus === 'CheckedIn'"
                                popovertarget="modal">Tilføj</button>
                        </th>
                        <td style="border-right: none;" mat-cell *matCellDef="let BookingDetailsRoom">
                            <button type="button" class="delete" (click)="DeleteBookedRoomRow(BookingDetailsRoom.id)"
                                [hidden]="checkStatus === 'CheckedOut' || checkStatus === 'CheckedIn'">Slet</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsDetails"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsDetails;"></tr>
                </table>
                <p *ngIf="fetchFailed2" class="fetch-error">Hentning fejlede</p>
                <mat-paginator #paginatorRooms [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>

    <!-- add room modal -->
    <div id="modal" popover>
        <h2>Ledige værelser</h2>
        <input style="width: auto; margin: 5px;" matInput [(ngModel)]="filterValue" (ngModelChange)="searchFilter2()"
            placeholder="Søg" />
        <div class="table-border">
            <table mat-table [dataSource]="dataSourceAvailableRooom" class="mat-elevation-z8">

                <!-- number Column -->
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef> Nummer </th>
                    <td mat-cell *matCellDef="let AvailableRoom"> {{AvailableRoom.number}} </td>
                </ng-container>

                <!-- Floor Column -->
                <ng-container matColumnDef="floor">
                    <th mat-header-cell *matHeaderCellDef> Etage </th>
                    <td mat-cell *matCellDef="let AvailableRoom"> {{AvailableRoom.floor}} </td>
                </ng-container>

                <!-- roomTypeName Column -->
                <ng-container matColumnDef="roomTypeName">
                    <th mat-header-cell *matHeaderCellDef> Værelses type </th>
                    <td mat-cell *matCellDef="let AvailableRoom"> {{AvailableRoom.roomTypeName}} </td>
                </ng-container>

                <!-- bedAmount Column -->
                <ng-container matColumnDef="bedAmount">
                    <th mat-header-cell *matHeaderCellDef> Antal senge </th>
                    <td mat-cell *matCellDef="let AvailableRoom"> {{AvailableRoom.bedAmount}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="buttons">
                    <th style="border-right: none;" mat-header-cell *matHeaderCellDef></th>
                    <td style="border-right: none;" mat-cell *matCellDef="let AvailableRoom">
                        <button class="edit" (click)="AddRoom(AvailableRoom.id)">Tilføj</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsAvailable"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsAvailable;"></tr>
            </table>
            <p *ngIf="fetchFailed3" class="fetch-error">Hentning fejlede</p>
            <mat-paginator #paginatorAvailable [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>
    </div>

    <!-- manage cleaning modal -->
    <div id="modal2" popover>
        <div class="right">
            <input style="width: auto; margin: 5px;" matInput [(ngModel)]="filterValue"
                (ngModelChange)="searchFilter3()" placeholder="Søg" />
            <div class="table-border cleaningTable">
                <table mat-table [dataSource]="dataSourceCleaningSchedule" class="mat-elevation-z8">

                    <!-- number Column -->
                    <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef> Nummer </th>
                        <td mat-cell *matCellDef="let CleaningSchedule"> {{CleaningSchedule.roomNumber}} </td>
                    </ng-container>

                    <!-- Floor Column -->
                    <ng-container matColumnDef="floor">
                        <th mat-header-cell *matHeaderCellDef> Etage </th>
                        <td mat-cell *matCellDef="let CleaningSchedule"> {{CleaningSchedule.roomFloor}} </td>
                    </ng-container>

                    <!-- cleaningDate Column -->
                    <ng-container matColumnDef="cleaningDate">
                        <th mat-header-cell *matHeaderCellDef> rengøring dato </th>
                        <td mat-cell *matCellDef="let CleaningSchedule">
                            {{ CleaningSchedule.cleaningDate | date:'dd.MM.yyyy HH:mm' }}
                        </td>
                    </ng-container>


                    <!-- Actions Column -->
                    <ng-container matColumnDef="buttons">
                        <th style="border-right: none;" mat-header-cell *matHeaderCellDef></th>
                        <td style="border-right: none;" mat-cell *matCellDef="let CleaningSchedule">
                            <button type="button" class="delete"
                                (click)="DeleteCleaningRow(CleaningSchedule.id)">Slet</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCleaning"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCleaning;"></tr>
                </table>
                <p *ngIf="fetchFailed4" class="fetch-error">Hentning fejlede</p>
                <mat-paginator #paginatorAvailable [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>

        <div class="left">
            <form [formGroup]="CleaningForm" (ngSubmit)="CreateCleaningSchedule(bookingid)">
               
                    <label>Nummer</label>
                    <div class="form-group">
                        <select formControlName="roomId">
                            <option value="" disabled selected>Vælg værelse</option>
                            <option *ngFor="let room of DATABookingDetailsRoom" [value]="room.id">
                                Nummer: {{ room.number }} – Etage: {{ room.floor }}
                            </option>
                        </select>
                        <div class="error"
                            *ngIf="CleaningForm.get('roomid')?.invalid && CleaningForm.get('roomid')?.touched">
                            Nummer er påkrævet
                        </div>
                    </div>

                    <label>Dato</label>
                    <div class="form-group">
                        <input type="date" formControlName="cleaningDate">
                        <div class="error"
                            *ngIf="CleaningForm.get('cleaningDate')?.invalid && CleaningForm.get('cleaningDate')?.touched">
                            start dato er påkrævet
                        </div>
                    </div>

                    <button class="update" type="submit">opret</button>
            </form>
        </div>
    </div>
</div>