<div class="navbar" *ngIf="!cleaner">
  <div class="menu-icon" (click)="toggleMenu()">☰</div>
  <div class="nav-buttons" [class.show]="menuOpen">
    <button type="button" routerLink="/staff/room-status">Værelser</button>
    <button type="button" routerLink="/staff/manageGuest">Gæster</button>
    <button type="button" routerLink="/staff/booking">Opret booking</button>
    <button type="button" routerLink="/staff/check-in-out">Bookinger</button>
    <button type="button" class="logout-btn" (click)="logout()">Log ud</button>
  </div>
</div>

<div class="navbar" *ngIf="cleaner === true">
  <button type="button" class="logout-btn" (click)="logout()">Log ud</button>
</div>