<app-adminNav></app-adminNav>
<div class="container">
    <div class="table-wrapper left">
        <h2>Medarbejdere</h2>
        <input style="width: auto; margin: 5px;" matInput [(ngModel)]="filterValue" (ngModelChange)="searchFilter()"
            placeholder="Søg" />
        <div class="table-border">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Id Column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let worker"> {{worker.role}} </td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Brugernavn </th>
                    <td mat-cell *matCellDef="let worker"> {{worker.username}} </td>
                </ng-container>

                <!-- Pris Column -->
                <ng-container matColumnDef="fullname">
                    <th mat-header-cell *matHeaderCellDef> Fulde navn </th>
                    <td mat-cell *matCellDef="let worker"> {{worker.fullname}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="buttons">
                    <th style="border-right: none;" mat-header-cell *matHeaderCellDef></th>
                    <td style="border-right: none;" mat-cell *matCellDef="let worker">
                        <button class="edit">Rediger</button>
                        <button class="delete" (click)="DeleteRow(worker.id)">Slet</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>

    <div [formGroup]="workerForm" (ngSubmit)="onSubmit()" class="Create-worker right">
        <label>Fulde navn</label>
        <div class="form-group">
            <input type="text" formControlName="fullName" placeholder="Indtast fuldt navn" autocomplete="off" />
            <div class="error" *ngIf="workerForm.get('fullName')?.invalid && workerForm.get('fullName')?.touched">
                Fuldt navn er påkrævet
            </div>
        </div>

        <label>Role</label>
        <div class="form-group">
            <select id="role" formControlName="role">
                <option value="" selected disabled hidden>Vælg her</option>
                <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select>
            <div class="error" *ngIf="workerForm.get('role')?.invalid && workerForm.get('role')?.touched">
                Rolle er påkrævet
            </div>
        </div>

        <label>Brugernavn</label>
        <div class="form-group">
            <input type="text" formControlName="userName" placeholder="Indtast brugernavn" autocomplete="off" />
            <div class="error" *ngIf="workerForm.get('userName')?.invalid && workerForm.get('userName')?.touched">
                Brugernavn er påkrævet
            </div>
        </div>

        <label>Kodeord</label>
        <div class="form-group">
            <input type="password" formControlName="password" placeholder="Indtast kodeord" autocomplete="off" />
            <div class="error" *ngIf="workerForm.get('password')?.invalid && workerForm.get('password')?.touched">
                Kodeord er påkrævet
            </div>
        </div>

        <label>Gentag kodeord</label>
        <div class="form-group">
            <input type="password" formControlName="passwordConfirm" placeholder="Gentag kodeord" autocomplete="off" />
            <div class="error"
                *ngIf="workerForm.get('passwordConfirm')?.hasError('required') && workerForm.get('passwordConfirm')?.touched">
                Kodeord er påkrævet
            </div>
            <div class="error"
                *ngIf="workerForm.get('passwordConfirm')?.hasError('mismatch') && workerForm.get('passwordConfirm')?.touched">
                Kodeordene matcher ikke.
            </div>
        </div>

        <!-- Disable button until form valid -->
        <button class="create" type="submit" [disabled]="workerForm.invalid">Opret</button>

    </div>
</div>