/* admin table room type */

h2 {
    margin: 20px 0;
    font-weight: 400;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* keeps them together */
    align-items: flex-start;
    gap: 5%;
    /* space between table and form */
    padding: 2% 5%;
}

/* Table wrapper */
.table-wrapper {
    flex: 1 1 60%;
    min-width: 300px;
    max-width: 700px;
}

.table-border {
    border: solid 1px black;
    border-radius: 15px;
    overflow-x: auto;
    /* prevents horizontal overflow */
}

th {
    background-color: #D9D9D9 !important;
}

button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit {
    background-color: #4EA9E9;
}

.delete {
    background-color: #FF4646;
}
