.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3D7DAA;
  padding: 10px;
  position: relative;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  flex: 1;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4EA9E9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #2e8cd6;
}

.logout-btn {
  margin-left: auto;
  margin-right: 20px;
}



/* Responsive */
@media screen and (max-width: 480px) {
    button {
        font-size: 16px;
        padding: 8px 16px;
    }
}