<app-admin-nav></app-admin-nav>
<div class="container">
    <div class="table-wrapper left">
        <h2>Medarbejdere</h2>
        <input style="width: auto; margin: 5px;" matInput [(ngModel)]="filterValue" (ngModelChange)="applyFilter()" placeholder="Søg" />
        <div class="table-border">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Id Column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let worker"> {{worker.role}} </td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Brugernavn </th>
                    <td mat-cell *matCellDef="let worker"> {{worker.username}} </td>
                </ng-container>

                <!-- Pris Column -->
                <ng-container matColumnDef="fullname">
                    <th mat-header-cell *matHeaderCellDef> Fulde navn </th>
                    <td mat-cell *matCellDef="let worker"> {{worker.fullname}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="buttons">
                    <th style="border-right: none;" mat-header-cell *matHeaderCellDef></th>
                    <td style="border-right: none;" mat-cell *matCellDef="let worker">
                        <button class="edit">Rediger</button>
                        <button class="delete">Slet</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>

    <div class="Create-worker right">
        <label for="fullname">Fulde navn</label>
        <input id="fullname" type="text">
        <label for="role">Role</label>
        <select id="role">
            <option value="" selected disabled hidden>vælg her</option>
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
        <label for="username">Brugernavn</label>
        <input id="username" type="text">
        <label for="password">Kodeord</label>
        <input id="password" type="text">
        <label for="repeatPassword">Gentag Kodeord</label>
        <input id="repeatPassword" type="text">
        <button class="create" type="button" style="align-self:flex-end; margin-top:12px;">Opret</button>
    </div>
</div>