<div class="login-wrapper">
  <mat-card class="login-card">
    <h2>Login</h2>

    <form (ngSubmit)="onSubmit()">

      <div>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Brugernavn</mat-label>
        <input matInput type="text" [(ngModel)]="username" name="username">
        <mat-error *ngIf="usernameError">Need username</mat-error>
      </mat-form-field>
      </div>

      <div>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Kodeord</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password">
        <button type="button" mat-icon-button matSuffix (click)="togglePassword()">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordError">Need password</mat-error>
      </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Log ind</button>
      </div>

    </form>
  </mat-card>
</div>