/* admin table room type */

h2 {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}

.table-wrapper {
    width: 35%;
}

.table-border {
    margin-left: 10%;
    border: solid 1px black;
    padding: 4px;
    border-radius: 15px;
}

th {
    background-color: #D9D9D9 !important;
}

button {
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit {
    background-color: #4EA9E9;
}

.delete {
    background-color: #FF4646;
}


/* create type input box */
.Create-type-box {
    display:flex; 
    flex-direction:column; 
    gap:8px; 
    width:300px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 15px;
    margin-top: 3.1%;
    margin-left: 5%;
    
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 70%;
}

.create{
    background-color: #4EA9E9;
}

/* page alignment */

.left {
    float: left;
}

.right {
    float: left;

}