h2 {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}

.table-wrapper {
    width: 40%;
}

.table-border {
    margin-left: 10%;
    border: solid 1px black;
    padding: 5px;
    border-radius: 15px;
}

table {
    padding: 20px;
}

button {
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit {
    background-color: #4EA9E9;
}

.delete {
    background-color: #FF4646;
}