.navbar {
    display: flex;
    justify-content: center;
    background-color: #3D7DAA;
}

button{
    margin: 10px;
    padding: 10px 20px;
    background-color: #4EA9E9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}