<app-adminNav></app-adminNav>
<div class="container">
    <div class="table-wrapper ">
        <h2>Værelser</h2>
        <input style="width: auto; margin: 5px;" matInput [(ngModel)]="filterValue" (ngModelChange)="searchFilter()"
            placeholder="Søg" />

        <div class="table-border">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- number Column -->
                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef> Nummer </th>
                    <td mat-cell *matCellDef="let room"> {{room.number}} </td>
                </ng-container>

                <!-- floor Column -->
                <ng-container matColumnDef="floor">
                    <th mat-header-cell *matHeaderCellDef> Etage </th>
                    <td mat-cell *matCellDef="let room"> {{room.floor}} </td>
                </ng-container>

                <!-- roomType Column -->
                <ng-container matColumnDef="roomType">
                    <th mat-header-cell *matHeaderCellDef> Værelses type </th>
                    <td mat-cell *matCellDef="let room"> {{room.roomTypeName}} </td>
                </ng-container>

                <!-- bedAmount Column -->
                <ng-container matColumnDef="bedAmount">
                    <th mat-header-cell *matHeaderCellDef> Antal senge </th>
                    <td mat-cell *matCellDef="let room"> {{room.bedAmount}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="buttons">
                    <th style="border-right: none;" mat-header-cell *matHeaderCellDef></th>
                    <td style="border-right: none;" mat-cell *matCellDef="let room">
                        <button class="edit" (click)="openEditModal(room)">Rediger</button>
                        <button class="delete" (click)="DeleteRow(room.id)">Slet</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>


    <div class="create-container">
        <div [formGroup]="roomForm" (ngSubmit)="onSubmit()" class="Create-room-inputs" style="flex:1;">
            <label>Nummer</label>
            <div class="form-group">
                <input type="number" formControlName="number" placeholder="Indtast nummer" autocomplete="off" />
                <div class="error"
                    *ngIf="roomForm.get('number')?.invalid && (roomForm.get('number')?.touched || roomForm.get('number')?.dirty)">
                    Nummer er påkrævet
                </div>
            </div>
            <label>Etage</label>
            <div class="form-group">
                <input type="number" formControlName="floor" placeholder="Indtast etage" autocomplete="off" />
                <div class="error"
                    *ngIf="roomForm.get('floor')?.invalid && (roomForm.get('floor')?.touched || roomForm.get('floor')?.dirty)">
                    Etage er påkrævet
                </div>
            </div>
            <label>Værelses type #ikke færdig skal laves om til drop down</label>
            <div class="form-group">
                <input type="text" formControlName="number" placeholder="Indtast Nummer" autocomplete="off" />
                <div class="error"
                    *ngIf="roomForm.get('number')?.invalid && (roomForm.get('number')?.touched || roomForm.get('number')?.dirty)">
                    Værelses type er påkrævet
                </div>
            </div>
            <label>Antal senge</label>
            <div class="form-group">
                <input type="text" formControlName="number" placeholder="Indtast Nummer" autocomplete="off" />
                <div class="error"
                    *ngIf="roomForm.get('number')?.invalid && (roomForm.get('number')?.touched || roomForm.get('number')?.dirty)">
                    Antal senge er påkrævet
                </div>
            </div>

            <button class="create" type="button">Opret</button>
        </div>
    </div>
</div>

<div id="editModal" class="modal hidden" (click)="onBackdropClick($event)">
    <div class="modal-content">
        <h3>Rediger værelsestype</h3>
        <form [formGroup]="roomEditForm" (ngSubmit)="editRoom()" id="editForm" >
            <label>Nummer</label>
            <div class="form-group">
                <input type="text" formControlName="number" />
            </div>
            <label>Etage</label>
            <div class="form-group">
                <input type="text" formControlName="floor" />
            </div>
            <label>Værelsestype</label>
            <div class="form-group">
                <input type="text" formControlName="roomTypeName" />
            </div>
            <label>Antal senge</label>
            <div class="form-group">
                <input type="text" formControlName="bedAmount" />
            </div>
            <button type="submit">Save</button>
            <button type="button" (click)="closeEditModal()">Cancel</button>
        </form>
    </div>
</div>