<div class="booking-container">
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
        <div class="contact-info-container">
            <label class="required">Fulde navn</label>
            <input type="text" formControlName="fullName">
            <div class="error"
                *ngIf="bookingForm.get('fullName')?.invalid && (bookingForm.get('fullName')?.touched || bookingForm.get('fullName')?.dirty)">
                <small>
                    Fulde navn er påkrævet
                </small>
            </div>
            <label class="required">Email</label>
            <input type="text" formControlName="email">
            <div class="error"
                *ngIf="bookingForm.get('email')?.invalid && (bookingForm.get('email')?.touched || bookingForm.get('email')?.dirty)">
                <small *ngIf="bookingForm.get('email')?.errors?.['required']">
                    Email er påkrævet.
                </small>
                <small class="text-red-500" *ngIf="bookingForm.get('email')?.errors?.['invalidEmail']">
                    Emailadressen er ikke gyldig
                </small>
            </div>
            <label class="required">Telefon nummer</label>
            <input type="tel" formControlName="phoneNumber" name="phoneNumber">
            <div class="error"
                *ngIf="bookingForm.get('phoneNumber')?.invalid && (bookingForm.get('phoneNumber')?.touched || bookingForm.get('phoneNumber')?.dirty)">
                <small>
                    Telefon nummer er påkrævet / Indtast et gyldigt.
                </small>
            </div>
            <label class="required">Antal personer</label>
            <input type="number" formControlName="personCount">
            <div class="error"
                *ngIf="bookingForm.get('personCount')?.invalid && (bookingForm.get('personCount')?.touched || bookingForm.get('personCount')?.dirty)">
                <small *ngIf="bookingForm.get('personCount')?.errors?.['required']">
                    Antal personer er påkrævet
                </small>
                <small class="text-red-500" *ngIf="bookingForm.get('personCount')?.errors?.['max']">
                    Du kan maks vælge 10 personer
                </small>
            </div>
            <label>Ønsker og bemærkninger</label>
            <textarea rows="10" type="text" formControlName="comment"></textarea>
        </div>
        <div style="max-width: 100%;">
            <div class="room-picker-container">
                <div class="room-info-container">
                    <label class="required">Fra</label>
                    <input type="date" formControlName="startDate" [min]="today"
                        (change)="onDateChanged(bookingForm.get('startDate')?.value, bookingForm.get('endDate')?.value)">
                    <div class="error"
                        *ngIf="bookingForm.get('startDate')?.invalid && (bookingForm.get('startDate')?.touched || bookingForm.get('startDate')?.dirty)">
                        <small>
                            Start datoen er påkrævet
                        </small>
                    </div>
                    <label class="required">Til</label>
                    <input type="date" formControlName="endDate" [min]="endDateMin"
                        (change)="onDateChanged(bookingForm.get('startDate')?.value, bookingForm.get('endDate')?.value)">
                    <div class="error"
                        *ngIf="bookingForm.get('endDate')?.invalid && (bookingForm.get('endDate')?.touched || bookingForm.get('endDate')?.dirty)">
                        <small>
                            Slut datoen er påkrævet
                        </small>
                    </div>
                    <label>Værelsestype</label>
                    <select id="roomTypesList" [(ngModel)]="selectedRoomTypeId" [ngModelOptions]="{ standalone: true }"
                        (change)="onRoomTypeChange(selectedRoomTypeId)">
                        @for (roomType of roomTypes; track roomType.name) {
                        <option [value]="roomType.id">{{roomType.name}}</option>
                        }
                    </select>
                    <p>Pris pr nat: {{roomTypePrice}}</p>
                    <p>Antal ledige værelser: {{roomCount}}</p>
                    <button type="button" class="imgControlBtn" (click)="addRoom(selectedRoomType)" [disabled]="roomCount <= 0">Tilføj</button>
                </div>

                <div class="carousel">
                    <div class="carousel-main">
                        <button class="imgControlBtn" type="button" (click)="prevImage()"
                            [disabled]="imagesForCurrentRoomType.length <= 1">‹</button>
                        <img class="imgprew" [src]="imagesForCurrentRoomType[currentImageIndex]?.filePath"
                            alt="Preview">
                        <button class="imgControlBtn" type="button" (click)="nextImage()"
                            [disabled]="imagesForCurrentRoomType.length <= 1">›</button>
                    </div>
                    <div class="thumbnails">
                        <img *ngFor="let img of imagesForCurrentRoomType; let i = index" [src]="img.filePath"
                            [style.border]="i === currentImageIndex ? '2px solid #3f51b5' : '1px solid #ddd'">
                    </div>
                </div>
            </div>
            <div class="booking-details-container">
                <div class="booked-rooms-outer-container">
                    Værelser
                    <div class="booked-rooms-container">
                        @for (room of addedRooms; track room.roomTypeId){
                        <div style="display:flex; flex-direction: row; justify-content: space-between;">
                            <button (click)="removeRoom(room.roomTypeId)" class="room-button remove" [disabled]="getRoomCount(room.roomTypeId) === 0" type="button">−</button>
                            <p>{{room.count}}x {{room.roomType.name}} {{room.roomType.price}} kr</p>
                            <button (click)="addRoom(room.roomTypeId)" class="room-button add" [disabled]="roomsFromAPI[room.roomTypeId]?.length === 0" type="button">+</button>
                            
                            
                            
                        </div>
                        }
                    </div>
                </div>
                <div class="price-container">
                    <p style="text-align: center;">Samlet pris: {{totalPrice}}</p>
                    <button class="bg-blue" type="submit" [disabled]="bookingForm.invalid">Book !</button>
                </div>
            </div>
        </div>
    </form>
</div>